In [269]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import  font_manager, rc
import seaborn as sns #시각화를 쉽게 만들어줌

# rc('font',family=font_name)
from matplotlib.pylab import rcParams

rcParams['font.family']='malgum gothic' #malgul gothic
rcParams['figure.figsize']=10,8
import warnings
warnings.filterwarnings('ignore')
import pickle
import statsmodels.api as sm

In [270]:
# # 데이터 불러오기
# chicken = pd.read_excel("치킨.xlsx", index_col="동")

# # 동 기준 중복 데이터 확인
# chicken.index.to_list()

# # 불필요한 문자 삭제 및 타입 변경
# chicken["매출"] = chicken["매출"].str.replace(",", "").str.replace("만원", "").astype(int)

# # 데이터 타입 확인
# chicken.info()

# # 필요한 데이터 추출
# chicken_re = chicken[["시장 규모","창업 후 평균 매출", "창업 후 예상 영업이익", "유동인구", "창업시 업체수"]]

In [323]:
conv = pd.read_csv("편의점.csv", index_col="동")
conv_re = conv[[ "창업 후 평균 영업이익", "창업시 업체수" , "시장 규모","창업시 매출 지표", "유동인구"]]
conv

academic = pd.read_excel("학원.xlsx", index_col="동")
academic_re = academic[[ "창업 후 평균 영업이익", "창업시 업체수" , "시장 규모","창업 후 평균 매출", "유동인구"]]
academic

car = pd.read_csv("카센터.csv", index_col="동")
car_re = car[[ "창업 후 예상 영업이익", "창업시 업체수" , "시장 규모","창업 후 평균 매출", "유동인구"]]
car_re

# cafe = pd.read_csv("카페.csv", index_col="동")
# cafe_re = cafe[["창업 후 예상 영업이익", "창업시 업체수", "시장 규모","창업 후 평균 예상 매출",  "유동인구"]]
# cafe

      창업 후 예상 영업이익  창업시 업체수  시장 규모  창업 후 평균 매출  유동인구
동
사직동           1925        6  62865       10478  5108
삼청동              0        2      0           0  1986
부암동            467        7  17814        2545  2700
평창동            409        4   8907        2227  3462
무악동              0        1      0           0   863
...            ...      ...    ...         ...   ...
성내3동           546       11  32710        2974  2400
둔촌1동             0        1      0           0   830
둔촌2동           556       11  33290        3026  3942
암사1동           391       12  25553        2129  1438
천호2동           503       18  49300        2739  4421

[334 rows x 5 columns]

### 학원
##### - 시장규모와 업체수가 상관성 높음(=밀집도 높음)
##### - 시장규모가 클수록 영업이익을 높음
##### - 학원 창업시 시장규모가 큰(밀집도가 높음) 위치로 들어가는 것이 좋음
##### - 유동인구는 관계 없음

In [326]:
# 상관관계 확인
academic_re.corr()
academic_re.describe()

# 매출 상위 2% 업체 (N+2∂)
top_2per = academic_re[academic_re["창업 후 평균 영업이익"] >= (academic_re.describe().iloc[1,0] + 2*academic_re.describe().iloc[2,0])]
top_2per.sort_values(by="창업 후 평균 영업이익", ascending=False)

       창업 후 평균 영업이익  창업시 업체수   시장 규모  창업 후 평균 매출   유동인구
동
길음1동           1008       46  452070        9828   4266
잠실2동            997       26  252850        9725   6708
여의동             977       24  228689        9529  20104
홍은2동            944       24  220800        9200   3461
답십리2동           907       22  194523        8842   1757
중곡1동            745        7   50832        7262   2484
중곡1동            745        7   50832        7262   2484
잠실7동            668        5   32588        6518   2191
반포1동            667       18  117096        6505   7151
거여1동            614        8   47908        5989   1983
서초1동            607       30  177596        5920   6850
대치2동            594       81  469040        5791   8638

### 편의점
##### - 편의점은 시장의 밀도가 높음(거리가 가까움)
##### - 카페나 학원과 다르게 시장의 규모가 유동인구와 상관성이 높음

In [318]:
# 상관관계 확인
conv_re.corr()
conv_re.describe()

# 매출 상위 2% 업체 (N+2∂)
top_2per = conv_re[conv_re["창업 후 평균 영업이익"] >= (conv_re.describe().iloc[1,0] + 1*conv_re.describe().iloc[2,0])]
top_2per.sort_values(by="창업 후 평균 영업이익", ascending=False)

      창업 후 평균 영업이익  창업시 업체수   시장 규모  창업시 매출 지표  유동인구
동
고덕2동          9301        7   69282       9897  2733
한남동           1082       15  269444      17963  7399

### 카센터

In [327]:
# 상관관계 확인
car_re.corr()
car_re.describe()

# 매출 상위 2% 업체 (N+2∂)
top_2per = car_re[car_re["창업 후 예상 영업이익"] >= (car_re.describe().iloc[1,0] + 2*car_re.describe().iloc[2,0])]
top_2per.sort_values(by="창업 후 예상 영업이익", ascending=False)

       창업 후 예상 영업이익  창업시 업체수   시장 규모  창업 후 평균 매출   유동인구
동
정릉3동           2350        5   63960       12792   2568
하계1동           2127       11  127370       11579   2154
상계1동           1992       14  151827       10845   4006
가락본동           1979       15  161574       10772   4698
사직동            1925        6   62865       10478   5108
이문2동           1916        5   52160       10432   1278
수유2동           1488        9   72920        8102   1227
반포4동           1478        9   72408        8045  12794
개봉3동           1453        4   31650        7913   1093
용강동            1424       12   93060        7755   3330
방이1동           1396        4   30399        7600   1964
성산1동           1389        6   45360        7560   1889
옥수동            1380        4   30060        7515   4968
월곡1동           1378       11   82530        7503   2363
원효로2동          1279       15  104482        6965   1873
청담동            1276       16  111150        6947  10011
상계5동           1240        8   54019        6752   1798
신정2동           1218       10   66303        6630   1663
화곡6동           1216       11   72820        6620   2801

### 카페

In [329]:
# 상관관계 확인
cafe_re.corr()
cafe_re.describe()

# 매출 상위 2% 업체 (N+2∂)
top_2per = cafe_re[cafe_re["창업 후 예상 영업이익"] >= (cafe_re.describe().iloc[1,0] + 2*cafe_re.describe().iloc[2,0])]
top_2per.sort_values(by="창업 후 예상 영업이익", ascending=False)

        창업 후 예상 영업이익  창업시 업체수   시장 규모  창업 후 평균 예상 매출   유동인구
동
교남동              462       14   63076           4505   1387
대치1동             399       32  124341           3886   4133
상일1동             333       34  110220           3242   4337
시흥3동             328       13   41544           3196   3393
도곡2동             327       60  191278           3188   6200
일원2동             317       11   33990           3090   1820
압구정동             317      169  522480           3092  10474
오륜동              315       18   55352           3075   6107
성수2가1동           314       67  205194           3063   2738
서원동              301       46  135135           2938   3829
반포4동             298       96  279205           2908  12794
중앙동              279       26   70850           2725   1791
목5동              272       35   92684           2648   5685
소공동              271      128  338328           2643   5485
명일2동             270       34   89595           2635   1992
성수2가3동           266      136  352620           2593   3939
장위1동             265       19   49068           2583   2418

In [276]:
cafe.corr()

,업체수,유동인구,매출,지출,평균 영업 이익,창업시 업체수,시장 규모,창업 후 평균 예상 매출,창업 후 평균 예상 지출,창업 후 예상 영업이익
업체수,1.000000,0.706129,0.184438,0.184488,0.183994,1.000000,0.945727,0.237362,0.237371,0.237281
유동인구,0.706129,1.000000,0.277326,0.277363,0.276999,0.706129,0.731112,0.322332,0.322306,0.322559
매출,0.184438,0.277326,1.000000,1.000000,0.999989,0.184438,0.394165,0.993604,0.993601,0.993618
지출,0.184488,0.277363,1.000000,1.000000,0.999986,0.184488,0.394203,0.993606,0.993603,0.993620
평균 영업 이익,0.183994,0.276999,0.999989,0.999986,1.000000,0.183994,0.393833,0.993574,0.993571,0.993590
창업시 업체수,1.000000,0.706129,0.184438,0.184488,0.183994,1.000000,0.945727,0.237362,0.237371,0.237281
시장 규모,0.945727,0.731112,0.394165,0.394203,0.393833,0.945727,1.000000,0.441747,0.441754,0.441682
창업 후 평균 예상 매출,0.237362,0.322332,0.993604,0.993606,0.993574,0.237362,0.441747,1.000000,1.000000,0.999988
창업 후 평균 예상 지출,0.237371,0.322306,0.993601,0.993603,0.993571,0.237371,0.441754,1.000000,1.000000,0.999985
창업 후 예상 영업이익,0.237281,0.322559,0.993618,0.993620,0.993590,0.237281,0.441682,0.999988,0.999985,1.000000

In [299]:
car = pd.read_pickle("카센타.pkl")
dong = car[0]
store = str(car[1])[2:2077].replace(" ", "").split("','")
people = str(car[2])[2:3303].replace(",", "").replace(" ", "").split("''")
sales = str(car[3])[2:4009].replace("만원", "").replace(" ", "").replace(",", "").split("''")

# car = pd.DataFrame({"동" : dong, "업체수" : store, "유동인구" : people, "매출":sales})
# car.to_excel("카센터.xlsx", index=False)

# len(str(car[1])) #2079
# len(str(car[2])) #3305
# len(str(car[3])) #4011

# data["평균매출"].apply(lambda x : int(x.replace(",", "").replace(" 만원", "")))
# data['유동인구']=data['유동인구'].apply(lambda x: int(x.replace(',', "")))

"5,108 ', '1,986 ', '2,700 ', '3,462 ', '863 ', '1,149 ', '15,000 ', '3,357 ', '2,853 ', '1,553 ', '418 ', '375 ', '709 ', '375 ', '709 ', '2,242 ', '2,421 ', '2,106 ', '7,248 ', '9,210 ', '2,757 ', '2,155 ', '6,079 ', '3,680 ', '1,355 ', '1,954 ', '1,082 ', '2,950 ', '2,120 ', '2,705 ', '713 ', '501 ', '581 ', '1,466 ', '1,873 ', '731 ', '4,700 ', '2,097 ', '2,111 ', '954 ', '5,442 ', '2,064 ', '2,522 ', '12,771 ', '7,399 ', '984 ', '2,321 ', '2,936 ', '4,531 ', '1,316 ', '2,089 ', '1,118 ', '2,831 ', '3,350 ', '2,738 ', '3,939 ', '1,567 ', '4,254 ', '1,750 ', '4,968 ', '4,701 ', '3,178 ', '2,484 ', '2,472 ', '1,914 ', '2,681 ', '1,516 ', '4,712 ', '3,981 ', '3,902 ', '2,891 ', '2,552 ', '2,454 ', '2,065 ', '7,831 ', '3,489 ', '4,825 ', '1,295 ', '1,757 ', '4,394 ', '3,894 ', '2,438 ', '1,278 ', '1,630 ', '1,595 ', '1,905 ', '2,537 ', '3,860 ', '1,120 ', '2,819 ', '831 ', '4,881 ', '2,040 ', '2,092 ', '1,407 ', '2,197 ', '2,568 ', '2,004 ', '4,266 ', '3,735 ', '2,363 ', '3,241 ', '2,418 ', '2,207 ', '2,155 ', '1,947 ', '2,572 ', '2,836 ', '3,622 ', '5,526 ', '2,535 ', '1,227 ', '3,521 ', '4,225 ', '1,733 ', '2,683 ', '1,346 ', '1,253 ', '2,035 ', '760 ', '3,304 ', '701 ', '1,009 ', '2,030 ', '688 ', '2,433 ', '3,197 ', '3,020 ', '2,993 ', '2,748 ', '3,980 ', '2,154 ', '1,964 ', '1,508 ', '1,594 ', '1,235 ', '4,006 ', '2,813 ', '1,798 ', '2,390 ', '1,770 ', '1,770 ', '1,594 ', '4,871 ', '2,958 ', '3,205 ', '1,646 ', '1,573 ', '3,721 ', '4,033 ', '1,149 ', '1,668 ', '2,939 ', '10,400 ', '2,067 ', '2,370 ', '778 ', '1,682 ', '3,461 ', '1,857 ', '1,932 ', '1,410 ', '2,596 ', '3,172 ', '1,358 ', '5,065 ', '3,330 ', '940 ', '1,667 ', '10,405 ', '4,957 ', '2,660 ', '2,549 ', '1,611 ', '1,889 ', '6,278 ', '10,598 ', '3,667 ', '2,811 ', '4,704 ', '7,619 ', '3,482 ', '2,215 ', '2,577 ', '1,680 ', '1,528 ', '2,699 ', '2,140 ', '1,695 ', '2,338 ', '2,205 ', '1,663 ', '7,239 ', '2,808 ', '4,081 ', '5,685 ', '5,082 ', '2,206 ', '1,870 ', '4,834 ', '1,818 ', '950 ', '1,837 ', '2,432 ', '2,801 ', '1,336 ', '8,530 ', '3,590 ', '1,969 ', '5,431 ', '6,223 ', '2,450 ', '5,326 ', '2,041 ', '5,143 ', '5,149 ', '2,286 ', '1,093 ', '3,660 ', '3,113 ', '6,758 ', '3,519 ', '3,340 ', '899 ', '12,775 ', '7,756 ', '1,788 ', '1,274 ', '5,394 ', '2,197 ', '3,393 ', '640 ', '20,104 ', '4,822 ', '2,898 ', '7,238 ', '2,800 ', '1,106 ', '627 ', '817 ', '1,603 ', '2,286 ', '4,300 ', '1,509 ', '5,209 ', '1,574 ', '2,776 ', '1,190 ', '2,873 ', '1,045 ', '597 ', '1,022 ', '5,026 ', '8,283 ', '6,706 ', '1,291 ', '1,404 ', '2,674 ', '3,299 ', '1,791 ', '3,844 ', '3,829 ', '2,038 ', '9,357 ', '3,557 ', '1,502 ', '2,467 ', '2,975 ', '2,255 ', '1,080 ', '4,291 ', '1,153 ', '8,897 ', '2,597 ', '6,850 ', '10,931 ', '7,291 ', '7,625 ', '7,151 ', '3,278 ', '3,706 ', '12,794 ', '2,397 ', '2,392 ', '5,258 ', '2,559 ', '8,971 ', '11,624 ', '9,357 ', '7,109 ', '7,707 ', '8,897 ', '5,753 ', '4,133 ', '4,561 ', '17,741 ', '6,200 ', '2,153 ', '3,667 ', '10,474 ', '10,011 ', '8,638 ', '4,919 ', '2,137 ', '5,422 ', '1,983 ', '1,473 ', '1,868 ', '1,964 ', '4,964 ', '4,960 ', '2,882 ', '4,698 ', '5,652 ', '2,714 ', '11,131 ', '2,191 ', '6,708 ', '11,182 ', '4,513 ', '4,365 ', '1,992 ', '1,599 ', '2,733 ', '1,881 ', '1,179 ', '1,846 ', '2,111 ', '4,238 ', '2,400 ', '830 ', '3,942 ', '1,438 ', '4,421 "